extends layout

block polybuild
  link(rel='import', href='/elements/elements-index.build.html')

block content
  header-icons
  div(class='component-container')
    name-card-demo
    name-card(first="{{f_name}}" last="{{l_name}}" bind-polymer)